{% extends 'missing_categories/base.html' %}

{% block content %}
    <div id="content">
        <div class="tac">
            <form action="" onsubmit="validateFunc()" method="post">
                {% csrf_token %}
                <div>
                    {{ form }}
                    <input type="submit" value="Post">
                </div>
            </form>
            <div class="uk">
                <h3>UK</h3>
                <span class="hidden uk">loading...</span>
                {% for i in uk %}
                    <p>{{ i }}</p>
                {% endfor%}
            </div>
            <div class="us">
                <h3>US</h3>
                <span class="hidden us">loading...</span>
                {% for i in us %}
                    <p>{{ i }}</p>
                {% endfor%}
            </div>
            <div class="de">
                <h3>DE</h3>
                <span class="hidden de">loading...</span>
                {% for i in de %}
                    <p>{{ i }}</p>
                {% endfor%}
            </div>
        </div>
    </div>
{% endblock %}
