{% extends 'base.html' %}

{% block post %}
    <div id="post">
        <div class="col-sm-12">
            <div class="col-sm-6 tac">
                <form action="" method="post" class="prod-1">
                    {% csrf_token %}
                    <div>
                        {{ form }}
                        <input type="submit" value="Post">
                    </div>
                </form>
            </div>
            <div class="col-sm-6 tac">
                <form action="" method="post" class="prod-2">
                    {% csrf_token %}
                    <div>
                        {{ form }}
                        <input type="submit" value="Post">
                    </div>
                </form>
            </div>
        </div>
        <div class="col-sm-12 prod-cont">
            <div class="col-sm-6">
                <div class="tac prod-1-stock"></div>
                <div class="tac prod-1"></div>
            </div>

            <div class="col-sm-6">
                <div class="tac prod-2-stock"></div>
                <div class="tac prod-2"></div>
            </div>
        </div>
        <div class="col-sm-12 prod-list">
            <p class="tac">History</p>
            <table cellpadding="0" cellspacing="0" border="0">
            </table>
        </div>
    </div>
{% endblock %}
