{% extends 'base.html' %}

{% block post %}
    <div id="post">
        <div class="col-sm-5">
            <div class="input">
                <form action="" method="post" id="post-form">
                    {% csrf_token %}
                    <div class="fieldWrapper" id="the_post">
                        {{ form }}
                    </div>
                    <input type="submit" value="Post" class="tiny button">
                    <div id="results"></div>
                </form>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="text-center" id="product">
            </div>
        </div>
    </div>
{% endblock %}
