
.content {
	position: relative;
}
#post {
	margin-top: 25px;
}
input {
	background: #468966;
	color: #fff;
	border: none;
	padding: 4px 30px;
	margin: 5px 0;
}
li {
	list-style: none;
	display: inline-block;
	padding: 0 10px;
}
ul {
	display: inline-block;
	padding: 0 20px 0;
}
ul, li {
	margin: 0;
}

form > div {
	padding: 10px;
	background: #B64926;	
}
.label-container {
	padding: 10px 0;
}

#content .fa {
	font-size: 30px;
}

#loading-banner {
	padding: 10px 0;
	background-color: red;
	color: #fff;
}

#loading-banner > span {
	vertical-align: middle;
	margin: 10px;
	padding: 0 0 10px 10px;
}
#loading-complete {
	padding: 10px 0;
	background-color: #468966;
	color: #fff;
}