{% extends 'badges/base.html' %}

{% block content %}
    <div id="content">
        <div class="tac">
            <form action="" onsubmit="validateFunc()" method="post">
                {% csrf_token %}
                <div>
                    {{ form }}
                    <input type="submit" value="Post">
                </div>
            </form>
            <div class="uk">
                <i class="fa fa-refresh fa-spin hidden" style="font-size:24px"></i>
                <h3>UK</h3>
                {% for i in uk %}
                    <p>{{ i }}</p>
                {% endfor%}
            </div>
        </div>
    </div>
{% endblock %}
