{% extends 'badges/base.html' %}

{% block content %}
    <div id="content">
        <div class="tac">
            <div id="loading-banner" class="hidden"><i class="fa fa-refresh fa-spin" style="font-size:24px"></i> <span>Please wait</span></div>
            <div id="loading-complete" class="hidden"><span>Finished</span></div>
            <form action="" onsubmit="validateFunc()" method="post">
                {% csrf_token %}
                <div class="form-container">
                    {% for field in form %}
                        <div class="label-container">
                            <label>{{ field.label }}:</label>
                            {{ field }}
                        </div>
                    {% endfor %}
                    <input type="submit" value="SUBMIT">
                </div>
            </form>
            <div class="uk">
                <h3>UK</h3>
                {% for i in uk %}
                    <p>{{ i }}</p>
                {% endfor%}
            </div>
        </div>
    </div>
{% endblock %}
