@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

.header {
	height: 75px;
	background-color: #123123;
}
.header h1 {
	color: #fff;
}

.tac {
	text-align: center;
}
.content {
	position: relative;
}
#post {
	margin-top: 25px;
}

#post .input {
	margin-top: 20px;
}


.prod-cont .size {display: inline-block;font-size: 20px;padding: 10px;}

li {
	list-style: none;
}
.prod-list table tr td {
	padding:0 20px;
	border: 1px solid black;
}
.prod-list h3 {
	border-top: 1px solid grey;
	padding: 20px 0;
}