body {
	margin: 0;
	padding: 0;
}
.tac {
	text-align: center;
}
.content {
	position: relative;
}
#post {

}

#post .input {
	margin-top: 20px;
}


.prod-cont .size {display: inline-block;font-size: 20px;padding: 10px;}

li {
	list-style: none;
}
.prod-list table tr td {
	padding:0 20px;
	border: 1px solid black;
}